

<div class="container-sm mh-100" style="height:600px">
    
    <span class="far fa-lightbulb fa-2x styles-white" ></span>
    
    <span class="fas fa-clipboard fa-2x styles-black"></span>

<div class="img" style="width:70%">
<card-container></card-container>

<div class="stars-container">
 <blue-font class="d-inline-block"></blue-font>
<span class="d-inline-block">
    <i class="far fa-star fa-1x styles-yellow"></i>
    <i class="far fa-star fa-1x styles-yellow"></i>
    <i class="far fa-star fa-1x styles-yellow"></i>
    <i class="far fa-star fa-1x styles-yellow"></i>
    <i class="far fa-star fa-1x styles-yellow"></i>
</span>
</div>
<div class="date-container">
    <span class="d-inline-block">
        <i class="fa fa-calendar fa-1x styles-gray" aria-hidden="true"></i>
    </span>
    <span>June 27, 2019 12:00 PM</span>


</div>



    


</div>



